@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: #eae8e8;
}

::-webkit-scrollbar-thumb {
  background-color: #7da9b9;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b6e6f;
}
